@import 'fonts.css';


:root{
    --n-b: 'NunitoSans-Bold';
    --m-m: 'montserrat-media';
    --n-r: 'NunitoSans-Regular';
    --w-r: 'WorkSans-Regular';
   
}


/*******************************/
/*********header-start**********/

body{
    background: #f5f5f5;
}

.header__menu{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header__nav-link{
    font-size: 12px;
    color: #191919;
    text-transform: uppercase;
    font-family: var(--m-l);
    margin-right: 28px;
    font-weight: 900;
}

.header__nav-link:hover{
    color: #007d2f;
    text-decoration: none;
}


/*************************************/
/***********section-contact***********/


.section__contact{
    margin-top: 207px;
}

.section__contact-title{
    font-family:var(--m-m) ;
    color:#171717 ;
    font-size:30px ;
    margin-bottom: 37px;
    font-weight: 900;
    
}

.section__contact-p2{
    font-family:var(--n-r) ;
    color: #787878 ;
    font-size: 16px;
    margin-bottom: 47px;
}

.section__contact-span{
    
    font-family: var(--n-b);
    font-weight: 900;
    color: black;
}

.section__contact-p1{
    font-family:var(--n-r) ;
    color: #787878 ;
    font-size: 16px;
    margin-bottom: 24px;
}

/* project start */



.project{
    background: #f5f5f5;
    padding: 28px 0 100px;
}

.project__inmput, .project__textarea{
    width: 100%;
    font-size: 15px;
    color: #787878;
    padding: 18px 15px;
    border: none;
    margin-top: 30px;
}

.project__button{
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    padding: 18px 25px;
    background: #007d2f;
    border: none;
    transition: 0.5s;
    margin-top: 30px;
}

.project__button:hover{
    background: #00471b;
}


.block__from{
    margin-left: 143px;
    margin-top: -43px;
    
}

.section__map-img{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

/**************************/
/*********footer-start*******/


.footer {
    text-decoration: none;
    color: white;
    text-align: center;
  
    background: #141414;
   padding-bottom: 86px ;
   padding-top: 40px;
}

.footer__manu-li {
    list-style: none;
}

.footer__title {
    font-size: 17px;
}

.footer__link {
    color: white;
    font-size: 14px;
}

.footer__link:hover {
    color: rgb(255, 0, 0);
    text-decoration: none;
}

.footer__manu-col {
    margin-top: 109px;
}

.footer__tiitle-tel {
    font-size: 14px;
}

.footer__title-email {
    font-size: 14px;
}

.footer__title-tl {
    font-size: 17px;
}

.footer__title-2017 {
    font-size: 14px;
}


@media (max-width:742px){
    .block__from {
        margin-left: 0px; 
      
    }
}
